.App {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButton-root {
  font-weight: 600;
}

.MuiTypography-h3 {
  color: #1976d2;
}

.MuiTextField-root {
  margin-bottom: 16px;
}

.MuiListItemText-primary {
  font-size: 18px;
  color: #333;
}

.MuiPaper-root {
  border-radius: 8px;
  padding: 20px;
}

.MuiCheckbox-root {
  margin-right: 10px;
}

.MuiIconButton-root {
  margin-left: 10px;
}

.MuiListItem-root {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.MuiListItem-root:hover {
  background-color: #f1f1f1;
}