.App {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButton-root {
  font-weight: 600;
}

.MuiTypography-h3 {
  color: #1976d2;
}

.MuiTextField-root {
  margin-bottom: 16px;
}

.MuiListItemText-primary {
  font-size: 18px;
  color: #333;
}

.MuiPaper-root {
  border-radius: 8px;
  padding: 20px;
}